@using Utilities.ViewModels
@model PaymentsViewModel
@addTagHelper "*, Utilities"
@{
    ViewData["Title"] = "Платежи";
}

@Html.ActionLink("Create", "CreatePayment")
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.PaymentViewModel.PaymentId)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentViewModel.Surname)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentViewModel.Type)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentViewModel.Sum)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentViewModel.DateOfPayment)</th>
    </tr>
    @foreach (var payment in Model.Payments)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => payment.PaymentId)</td>
            <td>@Html.DisplayFor(modelItem => payment.Tenant.Surname)</td>
            <td>@Html.DisplayFor(modelItem => payment.Rate.Type)</td>
            <td>@Html.DisplayFor(modelItem => payment.Sum)</td>
            <td>@Html.DisplayFor(modelItem => payment.DateOfPayment)</td>
            <td>
                @Html.ActionLink("Edit", "EditPayment", new { id = payment.PaymentId }, null) |
                @Html.ActionLink("Delete", "DeletePayment", new { id = payment.PaymentId }, null)
            </td>
        </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>