@using Utilities.ViewModels
@model ReadingsViewModel
@addTagHelper "*, Utilities"
@{
    ViewData["Title"] = "Показания";
}
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Create", "CreateReading")
}
    <form method="get">
        <div class="form-inline">
            <label class="control-label">Фамилия: </label>
            @Html.DropDownList("tenant", Model.FilterViewModel.Tenants as SelectList, htmlAttributes: new { @class = "form-control" })

            <label class="control-label">Тип: </label>
            @Html.DropDownList("rate", Model.FilterViewModel.Rates as SelectList, htmlAttributes: new { @class = "form-control" })

            <label class="control-label">Первая дата: </label>
            @Html.TextBox("firstDate", Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"), htmlAttributes: new { @class = "form-control", @type = "date" })
            <label class="control-label">вторая дата: </label>
            @Html.TextBox("secondDate", Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"), htmlAttributes: new { @class = "form-control", @type = "date" })
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ReadingIdSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.ReadingId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.SurnameSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.Surname)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ApartmentNumberSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.Apartmentnumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.TypeSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.Type)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CounterNumberSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.CounterNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.IndicationsSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.Indications)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
                   asp-route-tenant="@(Model.FilterViewModel.SelectedTenant)"
                   asp-route-rate="@(Model.FilterViewModel.SelectedRate)"
                   asp-route-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
                   asp-route-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.ReadingViewModel.DateOfReading)</a>
            </th>
        </tr>
        @foreach (var reading in Model.Readings)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => reading.ReadingId)</td>
            <td>@Html.DisplayFor(modelItem => reading.Tenant.Surname)</td>
            <td>@Html.DisplayFor(modelItem => reading.Apartmentnumber)</td>
            <td>@Html.DisplayFor(modelItem => reading.Rate.Type)</td>
            <td>@Html.DisplayFor(modelItem => reading.CounterNumber)</td>
            <td>@Html.DisplayFor(modelItem => reading.Indications)</td>
            <td>@Html.DisplayFor(modelItem => reading.DateOfReading)</td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "EditReading", new { id = reading.ReadingId }, null) |
                    @Html.ActionLink("Delete", "DeleteReading", new { id = reading.ReadingId }, null)
                </td>
            }
            </tr>
        }
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"
               page-url-tenant="@(Model.FilterViewModel.SelectedTenant)"
               page-url-rate="@(Model.FilterViewModel.SelectedRate)"
               page-url-firstdate="@(Model.FilterViewModel.SelectedFirstDate.Date.ToString("yyyy-dd-MM"))"
               page-url-seconddate="@(Model.FilterViewModel.SelectedSecondDate.Date.ToString("yyyy-dd-MM"))"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>