@model IEnumerable<Utilities.Models.Rate>
@{
    ViewData["Title"] = "Счётчики";
}
<table border="1" cellspacing="100">
    <caption>Счётчики</caption>
    <tr>
        <th>@Html.DisplayNameFor(model => model.RateId)</th>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
        <th>@Html.DisplayNameFor(model => model.Value)</th>
        <th>@Html.DisplayNameFor(model => model.DateOfIntroduction)</th>
    </tr>
    @foreach (var rate in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => rate.RateId)</td>
            <td>@Html.DisplayFor(modelItem => rate.Type)</td>
            <td>@Html.DisplayFor(modelItem => rate.Value)</td>
            <td>@Html.DisplayFor(modelItem => rate.DateOfIntroduction)</td>
        </tr>
    }
</table>